<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Prototype</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizer")*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/Content/bootstrap.css" />*@
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Main Menu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(" Book Collection", "Index", "Book")</li>


                        <li>@Html.ActionLink("Fees", "Payments", "Home", new { userId = Session["UserId"] }, null)</li>


                        @* <li>@Html.ActionLink("About", "Index", "Home")</li>*@

                        <li>@Html.ActionLink("Reservations", "ListOfReservations", "Home", new { userId = Session["Userid"] }, null)</li>

                        <li>@Html.ActionLink("Loan History", "LoanHistory", "Home", new { userId = Session["Userid"] }, null)</li>
                        <li>@Html.ActionLink("Account", "Account", "Home", new { userId = Session["Userid"] }, null)</li>
                        <li><a>@Session["UserName"]</a></li>

                        <li>@Html.ActionLink("Log out", "LogOut", "Home")</li>
                    </ul>

                </ul>
            </div>

        </div>
    </div>


    <div class="body-content container">
        @RenderBody()

        <br />
        <br />
        <br />
        <br />

        @*<div style="text-align:center;">
                <footer>
                    <p>&copy; @DateTime.Now.Year. All Rights Reserved - Online Library System</p>
                </footer>
            </div>*@
        @*background-image: url(&quot;bundles/Jessica-Reilly-and-Michael-Gainey-Feminist-Comic-Book-Club-CREDIT-Matthew-Suarez_t670.jpg&quot;);*@


    </div>
    <!-- //contact -->
    <!-- footer -->

    <h3 class="container">Contact</h3>
    <hr />

    <div class="row" style="background-color:darkgray;padding:2%">
        <div class="container row">
            <div class="col-lg-8">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="outline: none;">
                                <input type="text" name="name" class="form-control" placeholder="Name" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="phone number" class="form-control" placeholder="Phone Number" required="">
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Subject" required="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" placeholder="Message" class="form-control" required=""></textarea>
                    </div>
                    <div>
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 contact-info">
                <div class="contact-info1">
                    <h4 class="mb-4" style="color:black">Address Information</h4>
                    <p>PO Box 248, University Road, Leicester, LE1 9Q<span></span></p>
                    <p>Phone : +1 123 456 789 </p>

                    <p>Email : <a class="editContent" href="mailto:info@dentalmailmail.com" style="outline: none; cursor: inherit;">info@Library.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer class="py-3">
        <div class="container">
            <div class="copyright text-center p-3">
                <p style="color:black">&copy; @DateTime.Now.Year. All Rights Reserved - Online Library System</p>
            </div>

        </div>
    </footer>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
