@model LibraryOnlineSystem.Models.User

@{
    ViewBag.Title = "DetailsUser";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>DetailsUser</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dd>
            <h2>Loan History</h2><br/>
            @foreach (var bookLoan in Model.Bookings)
            {
            <dt>
                @Html.DisplayNameFor(model => bookLoan.BookId)
            </dt>


            <dd>
                @Html.DisplayFor(model => bookLoan.BookId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => bookLoan.DateCreated)
            </dt>

            <dd>
                @Html.ValueFor(model => bookLoan.DateCreated, "{0:dd/MM/yyyy}")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => bookLoan.DateReturned)
            </dt>

                <dd>
                    @Html.ValueFor(model => bookLoan.DateReturned, "{0:dd/MM/yyyy}")
                </dd>
        }
            </dd>
        </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "UsersAdmin")
</p>
