@using System.Web.UI.WebControls
@using LibraryOnlineSystem.Models
@using Microsoft.Ajax.Utilities
@model LibraryOnlineSystem.Models.Book

@{
    ViewBag.Title = "DetailsBook";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<style>
    .bs-example {
        margin: 20px;
    }

    .icon-input-btn {
        display: inline-block;
        position: relative;
    }

        .icon-input-btn input[type="submit"] {
            padding-left: 2em;
        }

        .icon-input-btn .glyphicon {
            display: inline-block;
            position: absolute;
            left: 0.65em;
            top: 30%;
        }
</style>
<script>
    $(document).ready(function () {
        $(".icon-input-btn").each(function () {
            var btnFont = $(this).find(".btn").css("font-size");
            var btnColor = $(this).find(".btn").css("color");
            $(this).find(".glyphicon").css("font-size", btnFont);
            $(this).find(".glyphicon").css("color", btnColor);
            if ($(this).find(".btn-xs").length) {
                $(this).find(".glyphicon").css("top", "24%");
            }
        });
    });
</script>

<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <span style="height:150px;width:100px;">
                <div class="editor-field">
                    @if (Model.ImageData == null)
                    {
                        @:No Image
                    }
                    else
                    {
                        <img width="150" height="150"
                             src="@Url.Action("GetImage", "Admin", new { Model.BookId })" />
                    }

                </div>
            </span>
        </div>
        <div class="col-sm-5">
            <h2 style="color:cornflowerblue;font-family:'Times New Roman'">@Html.DisplayFor(model => model.Name)</h2>
            <h5>
                <b>Authors:</b><br></br>
                @if (Model.Authors != null)
                {
                    foreach (var author in Model.Authors)
                    {
                        <nbsp> @author.Name</nbsp>
                        @author.Surname
                        ;<br />
                    }
                }
            </h5>
            <h5>
                <b>Publisher:</b>
                @Html.DisplayFor(model => model.Publisher)
            </h5>
            <hr />
            <h3>Book Description</h3>
            @foreach (BookReview bookReview in Model.BookReviews)
            {

                @Html.DisplayFor(model => bookReview.Content);

            }

            <br />
            <br />
            @if (Model.BookCode.Count != 0)
            {



                if (Model.BookCode.FirstOrDefault(a => a.IsInLibrary == true) != null && Model.Link == null)
                {
                    if (ViewBag.isBanned == 1)
                    {
                        <a>Please pay any outstanding fees to borrow a book again</a>
                    }
                    else
                    {
                        @Html.ActionLink("Borrow Book", "BorrowBook", new { bookId = Model.BookId, userId = Session["UserId"] }, null)

                    }
                }
                else if (Model.Link != null)
                {

                    <a href="@Model.Link">Online Source</a>

                }
                else
                {
                    @Html.Display("Currently book is not in stock, it is earliest due... ")
                    ;
                    @Html.ActionLink("Reserve", "ReservedBook", new { bookCodeId = Model.BookCode.FirstOrDefault().BookCodeId, userId = Session["UserId"] }, null)

                }
            }
            else
            {

                <h2>Book is unavailable</h2>
            }




        </div>
        <div class="col-sm-5">
            <h4 style="color:darkred;font-weight:bold">Book Details :-</h4>
            <h5>
                Genre :
                @Html.DisplayFor(model => model.Genre)
            </h5>
            <h5>
                Date of Publication :
                @Html.DisplayFor(model => model.DateOfPublication.Date.Year)
            </h5>
            <h5>
                Overview :
                @Html.DisplayFor(model => model.Overview)
            </h5>
            <h5 style="font-weight:bold;color:red">
                Books In Stock :
                @ViewBag.bookInStock
            </h5>
        </div>
    </div>
    <hr />
    <dd>

        @if (Model.Link != null)
        {

            <a href="@Model.Link">Online Source</a>

        }
        else
        {
            @Html.Display("Currently book is not in stock, it is earliest due... ")
            ;
        }

    </dd>
    </dl>


    <dt>Comments</dt>
    <dl>
        <dd>
            @foreach (var item in Model.Comment)
            {


                if (item.BookId == Model.BookId)
                {
                    if (item.AuthorId == ViewBag.UserId)
                    {

                        ViewBag.gaveRating = true;
                    }
                    if (item.UserRating != null)
                    {
                        Model.Rating += item.UserRating;
                        <nbsp style="font-size:14px;font-weight:bold">@Html.DisplayFor(Model => item.AuthorId)</nbsp>
                        <br />
                    }
                    @Html.DisplayFor(Model => item.Content)<nbsp style="color:red"> @Html.DisplayFor(model => item.UserRating) </nbsp>
                    <br />




                    if (ViewBag.UserId != "")
                    {


                        @Html.ActionLink("Reply", "CommentReply", new { id = item.BookId, commentID = item.CommentId }, new { style = "font-size:10px" })


                        <nbsp> &nbsp; </nbsp>
                        @Html.ActionLink("Delete", "DeleteComment", "Book", new { commentId = item.CommentId }, new { style = "font-size:10px" })




                    }


                    <br />

                }
                if (item.CommentReply != null)
                {
                    foreach (var reply in item.CommentReply)
                    {

                        <nbsp> &nbsp; &nbsp;&nbsp;&nbsp;  </nbsp>

                        @Html.DisplayFor(model => reply.Content);

                        <nbsp style="font-size:8px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(Model => reply.AuthorID)</nbsp>
                       
                            @Html.ActionLink("Delete", "DeleteComment", "Book", new { commentReplyId = reply.CommentReplyID }, new { style = "font-size:10px" })

                        

                        <br />
                    }
                    <br />

                }
            }




</div>
<p>

    @Html.ActionLink("Back to List", "BookDatabase") |


</p>
