@using LibraryOnlineSystem.Controllers
@using LibraryOnlineSystem.Models
@model LibraryOnlineSystem.Models.User

@{
    ViewBag.Title = "DetailsUser";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.csss" />
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#example2').DataTable();
    });</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#example3').DataTable();
    });</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#example4').DataTable();
    });</script>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dd>
            <h2> User Details</h2>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
           Date of birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
           House Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNo)
        </dd>

        <dt>
           Postcode
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode).ToString().ToUpper()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole)
        </dd>
        </dl>
<h2>Loans History</h2><br />
    <dl>
        <table class="table" id="example">
            <thead>
                <tr>
                   
                   
                   
                    <th>
                      
                        Booking ID
                    </th>
                    <th>
                        BookCode ID
                    </th>
                    <th> Book Title</th>
                    <th>
                        Date Created
                    </th>
                    <th>
                        Date Returned
                    </th>
                  
                    <th></th>
                </tr>
            </thead>
            @{ int x = 0;}
            <tbody>
                @foreach (var item in Model.Bookings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookCodeId)
                        </td>
                       
                        <td>
                            @ViewBag.BookNames[x]
                          
                        </td>
                       
                        <td>
                            @Html.ValueFor(modelItem => item.DateCreated, "{0:dd/MM/yyyy}")
                        </td>
                        <td>
                            @Html.ValueFor(modelItem => item.DateReturned, "{0:dd/MM/yyyy}")
                        </td>
                     
                        <td>
                            @if (item.DateReturned == null)
                            {
                                @Html.ActionLink("Return", "ReturnBook", new { bookCodeId = item.BookCodeId, SerialNumber = ViewBag.BookSerialNumber });
                            }
                        </td>
                    </tr>
                    x++;
                }
            </tbody>
        </table>
    <dd>
        <h2>Payment History</h2><br />
      
    
    
    <table class="table" id="example2">
        <thead>
        <tr>
            <th>
              Payment ID

            </th>
           
            <th>
              Date Paid
            </th>
            <th>
                Amount
            </th>
            <th>
               Status
            </th>
           
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ListOfPayment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentLibraryId)
                </td>
               
                <td>
                    @Html.ValueFor(modelItem => item.DatePaid, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            </tr>
        }
        </tbody>
    </table>
    
        
    
    
    
    
    
    
    
    <h2>Reservations</h2><br/>
    <table class="table" id="example3">
        <thead>
        <tr>
            <th>
                Reservation ID

            </th>
            <th>
                Book ID
            </th>
            <th> Book Title</th>
            <th>
              Reservation  Date 
            </th>
         
           
        </tr>
        </thead>
        <tbody>
        @{ int y = 0;}
        @foreach (var item in Model.ListOfReserves)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookReserveId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCodeId)
                </td>
                <td>
                    @ViewBag.BookNames[y]
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.ReservationRequestTime, "{0:dd/MM/yyyy}")
                </td>



            </tr>
        }
        </tbody>
    </table>
    
    
    
    
    
    
    
    
    
    
    
    

    <dd>
                
              
                </dl>
            </div>
            <p>

                @Html.ActionLink("Back to List", "UsersAdmin")
            </p>
