@model IEnumerable<LibraryOnlineSystem.Models.BookReserve>

@{
    ViewBag.Title = "ListOfReservations";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>List Of Reservations</h2>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });</script>

<table class="table" id="example">
    <thead>
    <tr>
        <th>
          User ID
        </th>
        <th>
            Book Title
        </th>
        <th>
           Reservation ID
        </th>
        <th>
           Book ID
        </th>
        <th>
          Reservation Requested time
        </th>
        <th>
            Book Serial Number
        </th>
        <th>
            Available
        </th>
        <th></th>
    </tr>
    </thead>
    @{ int x = 0;}
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)

                </td>
                <td>
                    @ViewBag.ListOfNames[x]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookReserveId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCodeId)
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.ReservationRequestTime, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @ViewBag.BookSerialNumber[x]
                </td>
                <td>
                    @ViewBag.IsInLibrary[x]
                </td>
                <td>
                    @if (ViewBag.IsInLibrary[x] == true)
                    {
                        @Html.ActionLink("Finalize", "FinalizeReservation", new { userId = item.UserId, reservationId = item.BookReserveId });
                    }
                </td>
               
            </tr>
            
                x++;
            
        }
    </tbody>
</table>
