@model IEnumerable<LibraryOnlineSystem.Models.PaymentLibrary>

@{
    ViewBag.Title = "PaymentsAdmin";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });</script>

<h2 class="text-center" style="color:black">List of Payments</h2>
<hr />
<table class="table table-striped" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentLibraryId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentLibraryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.DatePaid, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                    @{
                        if (item.Status == "Unpaid")
                        {
                            @Html.ActionLink(" Mark as Paid", "MarkAsPaid", new { userId = item.UserId, paymentId = item.PaymentLibraryId }) // Make it work

                        }
                    }
                </td>




            </tr>
        }
    </tbody>
</table>
