@model IEnumerable<LibraryOnlineSystem.Models.PaymentLibrary>

@{
    ViewBag.Title = "PaymentsAdmin";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>PaymentsAdmin</h2>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentLibraryId)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentLibraryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.DatePaid, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

        </tr>
    }
    </tbody>
</table>
