@model LibraryOnlineSystem.Models.LibraryRegulations

@{
    ViewBag.Title = "Regulations";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<style>
    .bs-example {
        margin: 20px;
    }

    .icon-input-btn {
        display: inline-block;
        position: relative;
    }

        .icon-input-btn input[type="submit"] {
            padding-left: 2em;
        }

        .icon-input-btn .glyphicon {
            display: inline-block;
            position: absolute;
            left: 0.65em;
            top: 30%;
        }
</style>
<script>
    $(document).ready(function () {
        $(".icon-input-btn").each(function () {
            var btnFont = $(this).find(".btn").css("font-size");
            var btnColor = $(this).find(".btn").css("color");
            $(this).find(".glyphicon").css("font-size", btnFont);
            $(this).find(".glyphicon").css("color", btnColor);
            if ($(this).find(".btn-xs").length) {
                $(this).find(".glyphicon").css("top", "24%");
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="text-center" style="color:black">Library Regulations</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LibraryRegulationsId)

        <div class="form-group">
            @*@Html.LabelFor(model => model.BorrowTime, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="control-label col-md-2"><b>Loan Length</b></div>*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.BorrowTime, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Loan Length" } })
                @Html.ValidationMessageFor(model => model.BorrowTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Fine, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="control-label col-md-2"><b>Fine Amount</b></div>*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fine, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Fine Amount" } })
                @Html.ValidationMessageFor(model => model.Fine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span class="icon-input-btn"><span class="glyphicon glyphicon-edit"></span> <input type="submit" value="Update" class="btn btn-primary" /></span>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
