@using System.Web.UI.WebControls
@using LibraryOnlineSystem.Models
@model IEnumerable<LibraryOnlineSystem.Models.BookCode>

@{
    ViewBag.Title = "ReportBook";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h1>Report for Books</h1>
<br />
@*<script>
    $("#beginningDate").datepicker({
        maxDate: 0
    });</script>
<script>
    $("#endingDate").date({
        maxDate: 0
    });</script>*@
@using (Html.BeginForm())
{
    <label for="beginningDate">From: </label>
    <input type="date" id="beginningDate" name="beginningDate">


    <label for="endingDate"> To:</label>
    <input type="date" id="endingDate" name="endingDate">
    <input type="submit">

}

<tr>

    <h4><b>Total amount of Books in the library:</b> </h4>
    @ViewBag.BookCount
    <br />
    <h4><b>Total amount of Books borrowed:</b> </h4>
    @ViewBag.BookBorrowCount
    <br />
    <h4><b>The most popular Category: </b></h4>
    @ViewBag.MostCommonCategory
    <br />
    <h4><b>The most popular Book : </b></h4>
    @ViewBag.MostPopularBookName
    <br />
    <h4><b>The most popular Book was borrowed:</b> </h4>
    @ViewBag.maxBooking times
    <br />
    @*<th>Books currently in the stock:@ViewBag.BookCount</th><br />*@




</tr>



