@model IEnumerable<LibraryOnlineSystem.Models.Book>

@{
    ViewBag.Title = "Stocks";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Stocks</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.BookCode.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.BookCode.Count)
        </td>
        <td>
            @Html.ActionLink("List of Copies", "DisplayCopies", new { id = item.BookId }) |
          @Html.ActionLink("New book code", "CreateCopy", new { id = item.BookId })
        </td>
    </tr>
}

</table>
