@model LibraryOnlineSystem.Models.User

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}



<h2 class="text-center" style="color:darkred;text-decoration:underline">Account Details :-</h2>

<hr />

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
         Date of Birth
        </dt>

        <dd>
            @Html.ValueFor(model => model.DateOfBirth, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
          House Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNo)
        </dd>

        <dt>
            Post Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditUser", "Home", new { id = Model.UserId }, null) |
    @Html.ActionLink("Reset Password", "ForgotPassword")
</p>