@model LibraryOnlineSystem.Models.User
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

@*<style>
        .bs-example {
            margin: 20px;
        }

        .icon-input-btn {
            display: inline-block;
            position: relative;
        }

            .icon-input-btn input[type="submit"] {
                padding-left: 2em;
            }

            .icon-input-btn .glyphicon {
                display: inline-block;
                position: absolute;
                left: 0.65em;
                top: 30%;
            }
    </style>*@
@*<script>
        $(document).ready(function () {
            $(".icon-input-btn").each(function () {
                var btnFont = $(this).find(".btn").css("font-size");
                var btnColor = $(this).find(".btn").css("color");
                $(this).find(".glyphicon").css("font-size", btnFont);
                $(this).find(".glyphicon").css("color", btnColor);
                if ($(this).find(".btn-xs").length) {
                    $(this).find(".glyphicon").css("top", "24%");
                }
            });
        });
    </script>*@



@*<h2 style="color:white;text-decoration:underline">ForgotPassword -:-</h2>

    <hr />
    <div style="background-color:white;padding:3%">
        @using (Html.BeginForm())
        {


            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <br />
                <br />

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="padding-left:16%">
                    <span class="icon-input-btn"><span class="glyphicon glyphicon-send"></span><input type="submit" value="Email Link" class="btn btn-success" /></span>
                </div>
            </div>
            <br />
            <br />
        }

    </div>*@

@using (Html.BeginForm())
{
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <br />
                    <h3>Forgot Password</h3>
                    @*<div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>*@
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Email Link" class="btn float-right login_btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
