@model IEnumerable<LibraryOnlineSystem.Models.Booking>

@{
    ViewBag.Title = "LoanHistory";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<h2>LoanHistory</h2>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Book.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturned)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.ValueFor(modelItem => item.DateCreated, "{0:dd/MM/yyyy}")
        </td>
        <td>
            @Html.ValueFor(modelItem => item.DateReturned, "{0:dd/MM/yyyy}")
        </td>
        
        <td>
            @Html.ValueFor(modelItem=>item.User.ListOfPayment[item.userId].Status)
        </td>
    </tr>
}

</table>
