@model IEnumerable<LibraryOnlineSystem.Models.PaymentLibrary>

@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<h2>Payments</h2>


<table class="table">
    <tr>
        <th>
           Book Name
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th>
            Date Returned
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePaid)
        </th>
    </tr>
    @{
        int x = 0;
    }
@foreach (var item in Model) {
<tr>

    <td>
        
            @ViewBag.bookNames[x]
            
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>

    <td>
        @if (ViewBag.datesReturned[x] == null)
        {

        }else
        {


            @(((DateTime) ViewBag.datesReturned[x]).ToString("dd-MM-yyyy"))
            x++;
        }

        @*@Html.ValueFor(modelItem => item.Booking.DateReturned, "{0:dd/MM/yyyy}")*@
    </td>
    <td>
        @if (item.Status == "Unpaid")
        {
            @*@Html.DisplayFor(modelItem => item.nu)*@
        }
        else
        {
            @Html.ValueFor(modelItem => item.DatePaid,"{0:dd/MM/yyyy}")
        }
        </td>
    <td>
        @if (item.Status == "Unpaid")
        {
            @Html.ActionLink("Pay now", "PaymentWithPaypal", new { paymentId = item.PaymentLibraryId }) //add Payment
           //CHANGE TO PAYPAL

            
            //TODO
        }

    </td>

</tr>
}

</table>
