@model IEnumerable<LibraryOnlineSystem.Author>

@{
    ViewBag.Title = "AddAuthorsToBook";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Add Authors To Book</h2>
@Html.ActionLink("Create Author","CreateAuthor","Book") |


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
       
        <td>
           
            @Html.ActionLink("Remove Author","RemoveAuthorsFromBook","Book",new {bookId=Request.Params["bookId"],authorId = item.Id },null) |

          @Html.ActionLink("Add Authors", "AddAuthorsToBook", "Book", new { bookId =Request.Params["bookId"], authorId = item.Id }, null)
        </td>
    </tr>
}
    @foreach (var item in Model)
    {
       //ViewBag.bookAuthors
    }
</table>
