@model LibraryOnlineSystem.Booking

@{
    ViewBag.Title = "BorrowBook";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<h2>BorrowBook</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDue)
        </dd>


    </dl>
</div>
<p>
  
</p>
