@model LibraryOnlineSystem.Models.Book
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
 
    <div>
      
       
        <hr />
        <dl class="dl-horizontal">


         


           
              

                <dt>Comment</dt>

                @foreach (var item in Model.Comment)
                {
                    if (item.BookId == Model.BookId)
                    {
                        <dd>

                        
                           @* <nbsp style="font-size:8px"> -post by ID @Html.DisplayFor(Model => item.AuthorId)</nbsp>*@
                            @if (item.CommentId == Int32.Parse(Request.Params["CommentId"]))
                            {
                                using (Html.BeginForm())
                                {


                                    @Html.TextBoxFor(model => model.BookId, new { style = "display: none;" })
                                    @Html.TextArea("NewReply", "")
                                    <input type="submit" value="reply" )/>
                                 

                                }

                            }

                     </dd>

                    }

                    @*<dd>
                        @foreach (var reply in item.CommentReply)
                        {

                            <nbsp> -----  </nbsp>
                            @Html.DisplayFor(model => reply.Content);
                            <br />

                        }
                        <br />

                    </dd>*@



                }



            </dl>

        </div>
        <p>
          
            @Html.ActionLink("Back to List", "Index")
        </p>
    </body>
</html>