@using System.Web.UI.WebControls
@using LibraryOnlineSystem.Models
@model LibraryOnlineSystem.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPublication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPublication.Date.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt>
            Books in Stock
        </dt>

        <dd>
            @ViewBag.bookInStock
        </dd>
       
        <dd>
            <div class="editor-field">
                @if (Model.ImageData == null)
                {
                    @:No Image
                }
                else
                {
                    <img width="150" height="150"
                         src="@Url.Action("GetImage", "Admin", new { Model.BookId })" />
                }

            </div>
        </dd>
        <dd>
            @foreach (BookReview bookReview in Model.BookReviews)
            {
                <dt>
                    @Html.DisplayNameFor(model => bookReview.Content);
                </dt>
            <dd>
                @Html.DisplayFor(model => bookReview.Content);
            </dd>
        }
            </dd>
        <dd>
           
            @if (Model.BookCode.Count != 0)
            {

           

                if (Model.BookCode.FirstOrDefault(a=>a.IsInLibrary==true) !=null && Model.Link == null)
                {
                    @Html.ActionLink("Borrow Book", "BorrowBook", new {bookId = Model.BookId, userId = Session["UserId"]}, null)
                }
                else if (Model.Link != null)
                {
          
                    <a href="@Model.Link">Online Source</a>

                }
                else
                {
                    @Html.Display("Currently book is not in stock, it is earliest due... ")
                    ;
                    @Html.ActionLink("Reserve", "ReservedBook", new {bookCodeId=Model.BookCode.FirstOrDefault().BookCodeId, userId = Session["UserId"]}, null)

                }
            }
            else
            {

                <h2>Book is unavailable</h2>
            }

             

        </dd>
        </dl>
        <dt>Comment</dt>
    <dl>
        <dd>
            @foreach (var item in Model.Comment)
            {


                if (item.BookId == Model.BookId)
                {

                    Model.Rating += item.UserRating;

                    <nbsp style="color:red"> @Html.DisplayFor(model => item.UserRating) </nbsp>
                    @Html.DisplayFor(Model => item.Content)

                    <nbsp style="font-size:8px"> -post by ID @Html.DisplayFor(Model => item.AuthorId)</nbsp>

                    if (ViewBag.UserId != "")
                    {
                        //if (ViewBag.IsBanned == false)
                        //{

                        @Html.ActionLink("Reply", "CommentReply", new { id = item.BookId, commentID = item.CommentId }, null)
                        //   }
                        if (item.PersonId.ToString()==Session["UserId"].ToString())
                        {
                            <nbsp> | </nbsp>
                            @Html.ActionLink("DeleteComment", "DeleteComment", new { commentId = item.CommentId})
                            <nbsp> | </nbsp>
                        }
                        

                    }


                    <br />

                }
                if (item.CommentReply != null)
                {
                    foreach (var reply in item.CommentReply)
                    {

                        <nbsp> -----  </nbsp>

                        @Html.DisplayFor(model => reply.Content);

                        <nbsp style="font-size:8px"> -posted by ID @Html.DisplayFor(Model => reply.AuthorID)</nbsp>


                        <br />
                    }
                    <br />

                }

               

            }
            
           


        </dd>
        <br />
        <br />
        <br />
        <br />
        <br />

        <dt>

            New Comment
        </dt>
        <dd>
            @if (ViewBag.UserId != "")
            {
                using (Html.BeginForm())
                {

                    bool isUserBanned = false;
                    foreach (var item in Model.Comment)
                    {
                        if (item.IsBlocked)
                        {
                            //if (item.AuthorId == User.Identity.Name)
                            //{
                            //    isUserBanned = true;
                            //    //return;
                            //TODO
                            //}
                        }
                    }
                    if (isUserBanned == true || ViewBag.isban == true)
                    {
                        <h2>you are banned</h2>
                    }
                    else
                    {
                        
                        @Html.TextBoxFor(model => model.BookId, new { style = "display: none;"});//, new { style = "display: none;" }
                        @Html.TextArea("NewComment", "");
                        <nbsp> Rating </nbsp>
                        @Html.TextArea("NewUserRating", "0.0", 1, 2, 0);

                        <input type="submit" value="send" />
                    }
                }
            }
            else
            {
                <h2>Please log in first</h2>
            }



        </dd>

        </dl>
    </div>
<p>
  
    @Html.ActionLink("Back to List", "Index") |


</p>
