@model IEnumerable<LibraryOnlineSystem.Models.Book>
@if (Session["isAdmin"].ToString() == null)
{
    Layout = "~/Views/Shared/_User_Layout.cshtml";
    ViewBag.Title = "Login";
}
@if (Session["isAdmin"].ToString() == "1")
{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
else
{
    {
        ViewBag.Title = "Login";
        Layout = "~/Views/Shared/_User_Layout.cshtml";
    }
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });</script>
<h2 class="text-center" style="color:black">List Of Books :-</h2>

<hr />
<table class="table table-striped" id="example">
    <thead>
    @*<form action="Book">
        <tr>
            <th>
                @Html.TextBox("Name")
            </th>
            <th>
                <select name="Genre" class="form-control">
                    <option value="Any">Any</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Action">Action</option>
                    <option value="Horror">Horror</option>
                </select>
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
            <th>

            </th>
            <th>
                <select name="Rating" class="form-control">
                    <option value="Best">Best</option>
                    <option value="Worst">Worst</option>
                </select>

            </th>
        </tr>
        <input type="submit" />
    </form>*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            Date Of Publication
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { booksId = item.BookId })
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.DateOfPublication, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }
    </tbody>
</table>
